
html, body {
    margin: 0%;
}
h1 {
    font-size:44px;
    color:#d3e5ff;
    font-family:merriweather,serif;
    font-weight:400;
}
#titulo {
    color: white;
    padding-top: 9%;
    font-size: 70px;
}
#subtitulo {
    color: white;
    padding-top: 9%;
    padding-left: 20%;
    padding-right: 20%;
}
p {
    font-family:merriweather;
    font-size:18px;
    line-height:32px;
    font-style: normal;
    font-weight: 400;
    white-space: normal;
    letter-spacing: normal;
    color:#000000;
    margin-top:30px;
}
h2 {
    margin:0;
    font-size:40px;
    line-height:45px;
    color:#000000;
    font-family:merriweather,serif;
    font-weight:400;
    clear:none;
    margin:50px 0 30px
}
.content {
    position:relative;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 25%;
}
.sessao {
    background-color: lightyellow;
}
.coluna {
    float: left;
    padding: 0 5%;
    position: relative;
    width: 40%;
}
div#maincontent {
    position:relative;
    margin-left:260px
}
#imagem-fundo {
    background: url(img/windrader.jpg);
    height: 100%;
    background-size: cover;
    text-align: center;
}
section {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding: 30px 0 20px 0;
}
.center {
    padding: 0 5%;
    position: relative;
}
.imagem {
    width: 560;
    height: 315;
    margin-top: 25%;
}
#coluna-unica {
    float: center;
    padding: 0 20% 0% 20%;
    position: relative;
    width: 70%;
}
