html, body {
    background-color: #F9F5F3;
    margin: 0;
}
h1, h2, p {
    font-weight:400;
}
p, img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: auto;
}
h1 {
    font-family: Verdana, sans-serif;
}
h2 {
    text-align: center;
    font-size:40px;
    line-height:45px;
    font-family:merriweather,serif;
}
p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size:21px;
    line-height:32px;
    font-style: normal;
    white-space: normal;
    letter-spacing: normal;
    margin-top: 2em;
    width: 680px;
}
section {
    height: fit-content;
    padding: 30px 5% 30px 5%;
    border-radius: 3px;
    box-shadow: 0 0 9px 0 rgba(67, 65, 79, 0.1);
    transition: all 0.3s;
    margin-left: 50px;
    margin-right: 50PX;
    background-color: #fffefa;
}
header {
    font-size: medium;
    background-color: steelblue;
    position: fixed;
    width: 100%;
    height: fit-content;
    z-index: 10;
}
footer {
    height: 50%;
    padding: 5% 5%;
    min-height: fit-content;
    background-color: #245f76;
}
#menu {
    float: right;
    list-style: none;
    margin: 0 5%
}
#logo {
    width: 40px;
    position: absolute;
    top: 10px;
    margin-left: 5%;
}
li {
    float: left;
    padding: 20 10 20 10;
}
li:hover {
    background-color: #82daff;
}
#titulo {
    padding-top: 13%;
    font-size: 4em;
}
#subtitulo {
    font-size: 2em;
    text-align: right;
    padding-right: 10%;
    padding-left: 10%;
}
#imagem-fundo {
    background: url(img/windrader.jpg);
    height: 100%;
    background-size: cover;
    text-align: center;
    position: initial;
}
#final {
    margin-bottom: 100px;
}
.espaco {
    height: 35px;
}
.coluna {
    width: 40%;
    float: left;
    padding: 5% 5%;
    position: relative;
}
.final, .fim {
    width: fit-content;
}
.final {
    font-size:25px;
}
#eu {
    width: 80%;
    height: auto;
    max-width: auto;
    padding: 5%;
}
#sobre {
    height: 110%;
    min-height: min-content;
    width: 100%;
    padding: 0;
    padding-bottom: 5%;
    border-radius: 0;
    box-shadow: 0;
    transition: 0;
    margin-left: 0;
    margin-right: 0;
}
.me {
    display: block;
    width: auto;
}
.fff {
    background-color: #fffefa;
}
.br {
    color: white;
}
@media all and (max-width: 897px) {
    #sobre, #eu, footer, img {
        height: auto;
    }
    .coluna {
        display: block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }
    img {
        width: 100%;
    }
    p {
        width: auto;
    }
    section {
        margin-left: 1%;
        margin-right: 1%;
    }
    #eu{
        width: 80%;
    }
    header {
        visibility: hidden;
    }
    #subtitulo{
        text-shadow: 0px 0px 8px black;
    }
}
